[submodule "deepgmr"]
	path = deepgmr
	url = https://github.com/wentaoyuan/deepgmr.git
[submodule "PointNetLK"]
	path = PointNetLK
	url = https://github.com/hmgoforth/PointNetLK.git
[submodule "PointNetLK_Revisited"]
	path = PointNetLK_Revisited
	url = https://github.com/Lilac-Lee/PointNetLK_Revisited.git
[submodule "FCGF"]
	path = FCGF
	url = https://github.com/chrischoy/FCGF.git
[submodule "equi-pose"]
	path = equi-pose
	url = https://github.com/dragonlong/equi-pose.git
[submodule "SGP"]
	path = SGP
	url = https://github.com/theNded/SGP.git
[submodule "point-architectures"]
	path = point-architectures
	url = git@github.mit.edu:SPARK/point-architectures.git
